body {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    min-height: 100vh;
}

.custom-card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    transform: translateY(-100px);
}